div.bola {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: red;
    display: inline-block;
    margin: 5px;

}

div.cuadrat{
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
    margin: 5px;
}

hr.u {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0px;
    height: 1px;
    background-color: black;
  }
hr.dos {
    display: block;
    margin-top: 4px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0px;
    background-color: red;
    height: 3px;
  }

  div.BolaX{
      border-radius: 100%;
      display: inline-block;
      text-align: center;
  }
  div.CuadradoB{
    border-radius: 0%;
    display: inline-block;
    text-align: center;
    border-style: solid;
}
  h1.tita{
      font-style: italic;
  }

div.bug{
    position: fixed;
    top: 10px;
    right: 10px;
}
p.city::first-letter {
    font-size: 200px;
    font-variant: small-caps;
    }
br.capi{
    display: block;
    content: "";
    margin-top: -30;
}

figure.gato{
    border: lightblue solid ;
    padding: 5px;
    margin:130px;

}
div.BolaBingo{
    color: white;
    font-size: 40px;
    text-align: center;
    line-height:50px;
}

