@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');
body {
    padding: 50px;
    background-color: aquamarine;
    font-family: 'Chakra Petch', sans-serif;

    }
h1 {
    color:coral;
    }