@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');
body {  
    padding: 50px;
    background-color: rgb(198, 131, 207);
    font-family: 'Chakra Petch', sans-serif;
    }
body.cuatre{
    margin: 0px;
    border: 0px;
    padding: 0px;
   
    background-color: rgb(129, 122, 61);
    font-family: 'Chakra Petch', sans-serif;
}
h1 {
    color:coral;
    }
div.centro {
    margin: auto;
    width: 50%;
    height: 50px;
    text-align: center;
    background-color: lightyellow;
    border: 2px dashed black;
    font-weight:bold;
    padding-top: 25px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap:wrap;
    background-size: initial;
    background-repeat: no-repeat;
    background-color: rgb(164, 168, 125);
    background-attachment: inherit;
  }

  .sub-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    width: 310px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    border: 5px dashed black;
    padding: 5px 
  }
  
  .flex-item{
    width: auto;
    height:auto;
    margin:  5px;
    text-align: left;
    line-height:15px;
    font-size: 15px;
  }
  .item_one {
      flex: 1;
  }
  .item_two {
      flex: 1;
  }
  .item_three { 
      flex: 1;
  }

img.walla {
    width: 300px; 
    height: 200px;
    object-fit: cover;
}
div.text{

}