@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');
body {
    padding: 50px;
    background-color: burlywood;
    font-family: 'Chakra Petch', sans-serif;

    }
h1 {
    color:coral;
    }

h1.fnt-red {
    color: red;
}
.fnt-blue {
    color:blue;
}
#nom_alumne {
    color: red;
    text-decoration: underline;
}
.titulo{
    color: navy; font-size: 30px; font-style: italic;
}
.texto{
    color:darkblue; font-size: 15px; font-style: normal;
}
.destacado{
    color: navy; font-size: 30px; font-style: italic;
}

h1.b{
    color: rgb(112, 212, 245);
}

p.c{
    color:darkblue;    
}