@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');
body {
    text-align: center;
    padding: 50px;
    /* background-color:cornflowerblue; */
    /* background-image:url("https://c4.wallpaperflare.com/wallpaper/559/823/624/milla-jovovich-resident-evil-the-final-chapter-best-movies-guns-wallpaper-preview.jpg"); */
    
    background-color: rgba(20, 53, 42, 0.021);
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */

    font-family: 'Chakra Petch', sans-serif;
    }
    #grad1 {
        background-image: linear-gradient(rgb(145, 15, 15), rgb(141, 141, 30));
      }
h1 {
    color:coral;
    }
li{
    text-align: initial;
}
a{
    color: rgb(9, 140, 247);
}